#!/bin/bash

run_command_cached() {
  CMD=$1
  TAG=$2
  FILE=.cache/$TAG
  if [ ! -f $FILE ]; then
    mkdir -p .cache
    eval "$CMD" >$FILE
  fi
  [ -f $FILE ] && cat $FILE
}

list_vpc() {
  run_command_cached "yc vpc subnet list" vpc-list
}

list_config() {
  run_command_cached "yc config list" config-list
}

# Remove all but first hash
#
take_first_field() {
  sed "s/[\| ]\+/ /g; s/^ //" | cut -f1 -d" "
}

export ACCT_KEY_FILE="/home/kaineer/.config/packer/keys/otus-payments.json"

export FOLDER_ID=$(list_config | grep folder | cut -f2 -d" ")
export SUBNET_ID=$(list_vpc | grep subnet | take_first_field)

export ANSIBLE_ROLES_PATH=../ansible/roles
