#!/bin/bash

run_cached() {
  CMD="$1"; TAG="$2"; FILE=.cache/$TAG
  if [ ! -f $FILE ]; then
    mkdir -p .cache
    eval "$CMD" >$FILE
  fi
  [ -f $FILE ] && cat $FILE
}

print_config_list() {
  run_cached "yc config list" "config-list"
}

print_image_list() {
  run_cached "yc compute image list" "image-list"
}

config_value() {
  grep "$1" | cut -f2 -d" "
}

export TF_VAR_service_account_key_file="$HOME/.config/packer/keys/otus-payments.json"
export TF_VAR_token=$(print_config_list | config_value token)
export TF_VAR_cloud_id=$(print_config_list | config_value cloud-id)
export TF_VAR_folder_id=$(print_config_list | config_value folder-id)
export TF_VAR_zone=$(print_config_list | config_value compute-default-zone)

export TF_VAR_boot_disk_image=$(print_image_list | grep docker-app | sed "s/[\| ]\+/ /g; s/^ \+//" | cut -f1 -d" ")

export TF_VAR_metadata_file="../files/metadata.yml"
export TF_VAR_private_key_file="$HOME/.ssh/appuser"
